.container{
    position: absolute;
    width: 40%;
    height: 20px;
    background-color: rgb(2, 74, 2);
    bottom:60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 320px;

}
.title{
    color: white;
    text-align: center;
    font-size: 18px;
   
    
}
